{% extends "ginthusiasm/header_small.html" %}
{% block title_block %}Setting New Password{% endblock %}

{% block style_block %}
    <style>
        .helptext {
            display: none;
        }
    </style>
{% endblock %}

{% block body_block %}
    <div>
        {% if validlink %}
            <h1>Enter new password</h1>
            <p>Please enter your new password twice so we can verify you typed it in correctly</p>
            <form action='' method='post'>
                {% csrf_token %}
                {{ form }}
                <input type='submit' value='Change Password'/>
            </form>
        {% else %}
            <h1>Password reset unsuccessful</h1>
            <p>The password reset link was invalid, possibly because it has already been used.</p>
            <p>Please request a new password reset.</p>
        {% endif %}
    </div>
{% endblock %}
