div.add_review {
  width:100%;
}

form {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    flex-wrap: wrap;
}

form textarea{
  width:100%;
  border-radius: 10px;
  border-color: gray;
}


form input[type='text']{
    flex-basis: 20%;
    margin: 10px;
    height: 35px;
    border-radius: 5px;
    text-align: center;
}


.ar_location{
  flex-basis: 40%;
}

.ar_reviewsubmit {
  flex-basis: 60%;
  text-align: right;
}
