div.add_article {
  width:100%;

}

form {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  flex-wrap: wrap;
}

form textarea{
  flex-basis: 100%;
  display:block;
  height:100px;
}

form input[type='text'] {
  flex-basis: 100%;
  display:block;
  height: 35px;

}

form input[type='checkbox']{
  flex-basis: 100%;
  height: 35px;
}

form label{
  padding-top: 10px;
}

form input[type='file']{
  flex-basis: 100%;
  height: 35px;
}
