div.add_review {

  width:100%;

}

form {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    flex-wrap: wrap;
}

form input [type='text']{
    width:100%;
    height: 100px;
    border-radius: 10px;
    text-align: left;
    font-size: 22px;
    padding-left: 20px;
}

.add_review .ar_rating{
  width:20%;
}

form input [type='submit']{
    width:20%;
}

form input [type='double']{
  width:20%;
}
