div.add_review {
  width:100%;
}

form {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    flex-wrap: wrap;
}

form textarea{
  width:100%;
  border-color: gray;
}


form input[type='text']{
    flex-basis: 10%;
    margin: 10px;
    height: 35px;
    text-align: center;
}


.ar_location{
  display: flex;
  flex-basis: 100%;
  justify-content:center;
  align-items: center;

}


.ar_reviewsubmit {
  flex-basis: 100%;
  text-align: center;

}

.ar_location #location-btn{
  margin-left: 10px;
}

.ar_stars{
  display: flex;
  flex-basis: 100%;
  justify-content:center;
  align-items: center;
}
