.article_widget{
  border-bottom: 2px solid #212123;
  padding:20px;
  flex-basis:100%;
  display:flex;
  flex-direction: row;
}

.article_widget .aw_left{
  flex-basis:30%;
}

.article_widget .aw_right{
  text-align: left;
  flex-basis:70%;

}

.article_widget a{
  text-decoration: none;
}

div.article_widget.False {
    background-color: var(--foreground-alt);
}

.article_widget a h2 {
    margin-top: 0;
    margin-bottom: 0;
}
