div.article_content {
    flex-direction: wrap;
}

.article_content .a_image {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;

}

.article_content .a_title {
    text-align: center;
}

.article_content .a_content {
    margin: 0;
}

.article_content .a_author {
  text-align: center;
}
