body{
    margin: 0;
}

a.ginthusiasm-button {
    border-radius: 5px;
	text-align: center;
	background-color: #2E2F33;
	cursor: pointer;
	display: table;
    color: #ffffff;
    text-decoration: none;
    height: 35px;
    width:200px;
}

a.ginthusiasm-button:hover {
    background-color: #9DA0A7;
}

a.ginthusiasm-button span{
	display:table-cell;
	vertical-align:middle;
}
