/*.distillery-main {
    background-color: var(--body-background);
    padding: 50px 40px;
    margin: 0 10%;
    box-shadow: 0px 0px 100px 10px #000000;
}*/

.distillery-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.distillery-description {
    flex-basis: 60%;
}

.distillery-image {
    flex-basis: 0%;
}

.distillery-image .image {
    max-width: 300px;
    border-radius: 50%;
}

.distillery-contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 70px;
}

.distillery-contact .map {
    max-width: 500px;
}
