.distillery-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.distillery-description {
    flex-basis: 60%;
}

.distillery-info .distillery-map {
    flex-basis: 0%;
}

.distillery-info .distillery-map #js-map{
    width: 400px;
    height: 400px;
}

.distillery-image .image {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.distillery-contact .map {
    max-width: 100px;
}
