footer {
	position: fixed;
	bottom: 0;
}

.footer-small {
	width: 100%;
	background-color: #212123;
	color: #ffffff;
	height: 100px;

	position: absolute;
	bottom: 0px;
	left: 0;
}

html, body {
	height: 100%;
}

.main_container {
	min-height: 100%;
	position: relative;
}

.content {
	margin-bottom: 100px;
}

.footer-small a{
	color: #ffffff;
	text-decoration: none;
}


.footer-small .footernav{

}

.footernav a {

}


.nav a span{

}

.footernav a:hover{
 ''
}

html, body{
	margin: 0;
	padding: 0;
}
