.footer-small{
	align-items: center;
	width: 100%;
	background-color: #212123;
	color: #ffffff;
	bottom: 0;
	left: 0;

}

.footer-small a{
	color: #ffffff;
	text-decoration: none;
}


.footer-small .footernav{
    height:30px;
	flex-grow: 6;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-align:center;
}

.footernav a {
	width: 25%;
	height: 80%;
	display: table;
}

.footernav a span{

	display:table-cell;
	vertical-align:middle;
}

.footernav a:hover{
    border-radius: 5px;
	background-color: #ffffff;
}
