footer {
	position: absolute;
	bottom: 0;
}

.footer-small{
	width: 100%;
	background-color: #212123;
	color: #ffffff;
	height: 100px;
	vertical-align: baseline;
	bottom: 0px;
	left: 0;
}

.test{
	background-color: #212123;
	color: #ffffff;
	height: 100px;
}

/*html, body {
	height: 100%;
}*/

.main_container {
	min-height: 100%;
	position: relative;
}

.content {
	margin-bottom: 100px;
}

.footer-small a{
	color: #ffffff;
	text-decoration: none;
}


.footer-small .footernav{

}

.footernav a {

}


.nav a span{

}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.footernav a:hover{
 ''
}

html, body{
	margin: 0;
	padding: 0;
}
