div.gin_description {
    flex-direction: wrap;
    padding-bottom: 20px;
}

.gin_description div.rating {
    margin-top: 16px;
}

.gin_description .rating .rating_widget {
    margin-top: 5px;
}

.gin_description div.taste_tags {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gin_description .taste_tags ul {
    margin-left: 10px;
    display: inline-flex;
    list-style-type: none;
    flex-direction: row;
    flex-wrap: wrap;
}

.gin_description .image {
    height: 500px;
    max-width: 375px;
    object-fit: cover;
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}

div.reviews {
    background-color: #ffffff;
}

#gin_search_form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.gin_search_widget input {
    width: 60px;
}

.gin_search_widget select {
    width: 200px;
}

.gin_search_widget .keywords input {
    width: 300px;
}

.content div.search_results {
   padding: 0;
}

.map {
    margin: 30px 0;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.map #js-map{
    width:500px;
    height: 500px;
}

.map-description {

}
