div.gin_widget {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.gin_widget .image img {
    height: 200px;
    max-width: 150px;
    object-fit: cover;
    margin-left: 20px;
}

.gin_widget a.ginthusiasm-button {
    height: 25px;
    width: 170px;
}

div.gin_widget .rating {
    display: flex;
    flex-direction: row;
    margin: 5px 0px;
}

div.gin_widget .rating>div {
    margin: 0px 20px 0px 10px;
}
