div.gin_widget {
    display: flex;
    flex-direction: row;
    //padding-bottom: 50px;
    padding: 0;
}

.gin_widget img {
    height: 200px;
    max-width: 150px;
    object-fit: cover;
    margin-left: 20px;
}

.gin_widget a.ginthusiasm-button {
    height: 25px;
    width: 170px;
}

div.gin_widget .rating {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
}

div.gin_widget .rating>div {
    margin: 0 20px 0 10px;
}
