.header-small{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	background-color: ForestGreen;
	color: #ffffff;
	height: 50px;
}

.header-small a, .header-large a{
	color: #ffffff;
	text-decoration: none;
}

.header-small .logo{
	max-width: 50px;
	flex-grow: 1;
}

.header-small .nav{
    height:50px;
	flex-grow: 6;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-align:center;
}

.header-large{
    text-align: center;
    background-color: ForestGreen;
    height: 260px;
}

.header-large .logo-large{
    margin: 5px auto;
    max-height: 200px;
}

.header-large .nav{
    margin-top: -5px;
    height:50px;
	display: flex;
	text-align:center;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.header-large .login-small{
	position: absolute;
	top: 0;
	right: 15px;
	height: 50px;
}

.header-large .header-search{
	position: absolute;
	top: 150px;
	right: 0;
	height: 50px;
}

.header-small .nav {
	width: 50%;
}
.nav a {
	width: 25%;
	height: 100%;
	display: table;
}

.nav a span{
	display:table-cell;
	vertical-align:middle;
}

.nav a:hover{
    border-radius: 5px;
	background-color: DarkGreen;
}

a.btn {
    height: 80%;
    width: 10%;
	border-radius: 5px;
	text-align: center;
	color: white;
	background-color: DarkGreen;
	cursor: pointer;
	display: table;
}

a.btn:hover{
	background-color: green;
}

a.btn span{
	display:table-cell;
	vertical-align:middle;
}

.login-small{
	height: 100%;
	width: 25%;
	text-align: right;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.header-search{
	display: flex;
	align-items:center;
	justify-content: space-around;
	height: 100%;
	width: 25%;
}

.header-search a.btn {
	width: 25%;
}

.header-search input[type='text']{
    height: 80%;
    width: 70%;
    font-size: 1.2em;
    border:none;
    text-align: center;
    border-radius: 5px;
}
