.header-small{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	background-color: ForestGreen;
	height: 50px;
}

.header-small .logo{
	max-width: 50px;
	flex-grow: 1;
}

.header-small .nav{
    height:50px;
	flex-grow: 6;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-align:center;
}

.header-large{
    text-align: center;
    background-color: ForestGreen;
    height: 260px;
}

.header-large .logo-large{
    margin: 5px auto;
    max-height: 200px;
}

.header-large .nav{
    margin-top: -5px;
    height:50px;
	display: flex;
	text-align:center;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.nav a {
	width: 18%;
	height: 100%;
	display: table;
	text-decoration: none;
	color: white;
}

.nav a span{
	display:table-cell;
	vertical-align:middle;
}

.nav a:hover{
    border-radius: 5px;
	background-color: DarkGreen;
}

.nav input[type='text']{
    height: 80%;
    width: 18%;
    font-size: 1.2em;
    border:none;
    text-align: center;
    border-radius: 5px;
}

.nav a.btn {
    height: 80%;
    width: 10%;
	border-radius: 5px;
	text-align: center;
	color: white;
	background-color: DarkGreen;
	cursor: pointer;
	display: table;
}

.nav a.btn:hover{
	background-color: green;
}

.nav a.btn span{
	display:table-cell;
	vertical-align:middle;
}
