.index-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 220px;
    margin-bottom: 20px;
}

.index-widget-row {
    height: 440px;
}

.feature_search_widget {
    width: 70%;
    height: 100%;
}

.featured-gin-container {
    max-width: 60%;
    min-width: 60%;
}

.trending-gin-container {
    max-width: 40%;
    min-width: 40%;
}

.welcome {
    height: 100%;
    width: 30%;
    margin-right: 20px;
    padding: 20px;
    background-color: #fff;
    align-items: center;
    text-align: center;
}

.welcome h1 {
    font-size: 20px;
}
