.main_container_large_header .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    --base-width: 1080px;
    --margin: 20px;
}

.content .index-widget {
    padding: 0;
    margin: var(--margin);
    flex-basis: calc(var(--base-width) / 3 - 2 * var(--margin));
    flex-grow: 1;
}

.index-widget.tall {
    height: 350px;
}

.index-widget.wide {
    flex-basis: calc(2 * var(--base-width) / 3 - 2 * var(--margin));
    flex-grow: 2;
}

.index-widget.full {
    flex-basis: calc(var(--base-width) - 2 * var(--margin));
    flex-grow: 3;
}

.welcome h1 {
    font-size: 20px;
}

.index-widget.welcome{
    text-align: center;
    background: var(--foreground-alt);
}
