div.review_widget {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  width:100%;
}


.review_widget h3{
  margin-top: 0;
  margin-bottom:0;
  padding-bottom: 5px;

}

.review_image{
 display:flex;
 flex-direction: column;
 flex-basis: : 20%;
 margin-right: 10px;

}

img {
    width:100%;
    float:left;
    padding-bottom: 20px;
    max-width: 100px;
}

.review_rating{
  flex-basis:80%;
}


.review_titlerating{
  display:flex;
}

.review_widget .review_details {
  padding-left: 20px;
}

.review_widget .review_date{
  font-size: 10px;
  padding-bottom: 5px;
  flex-basis:20%;
}
