.content .trending-widget {
    background-color: #fff;
    text-align: center;
    overflow-y: scroll;
}

.trending-gin-header {
    font-size: 20px;
}

.trending-gin {
    margin:20px;
    display: flex;
    flex-direction: row;
}

.trending-gin-description {
    width: 100%;
    text-align: initial;
    display: inline-block;
    position: relative;
}
.trending-gin-description > .rating_widget {
    padding-top: 20px;
}

.trending-gin-image {
    display: inline-block;
    text-align: initial;
}

.trending-gin-image > img {
    object-fit: cover;
    height: 120px;
    width: 80px;
}
