{% extends 'ginthusiasm/header_small.html' %}
{% load staticfiles %}

{% block style_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/base_style.css' %}">
{% endblock %}

{% block title_block %} About {% endblock %}

{% block body_block %}
    <div>
    <h1 class = 'title'> About </h1>

        <div>
            <p>Ginthusiasm is a hub for gin fans who seek out more information about what they are drinking and who it is
                made by, along with news and insight about recent trends in the world of gin. Everything we do is
                underpinned by a simple message and a singular driving ethos – to celebrate gin!
            </p>
            <p>We aim to be the largest online compendium of unbiased information about gin. We still have someway to
                go, but we’re enjoying the journey!
            <p>Have we missed a fantastic gin you think we should know about? Or have you found a mistake in our ginventory?
            Or perhaps you think there is a review that needs revisiting? Ginthusiasm is an evolving resource - so please
            <a href='{% url 'contact' %}'><span>get in touch!</span></a>
            </p>
        </div>
    </div>
{% endblock %}
