{% extends 'ginthusiasm/header_small.html' %}
{% load staticfiles %}

{% block style_block %}
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/add_article.css' %}">
{% endblock %}

{% block title_block %}Add Article{% endblock %}

{% block body_block %}
<div>
  <h1>Add Article</h1>
    <form class= 'add_article' id="add_article_form" method="post" action="{% url "add_article" user.username %}"
          enctype="multipart/form-data">
          {{ add_article_form.title.label }}
          {{ add_article_form.title }}
          {{ add_article_form.shortDesc.label }}
          {{ add_article_form.shortDesc }}
          {{ add_article_form.content.label }}
          {{ add_article_form.content }}
        <input type="submit" name="submit" value="Add Article" />
    </form>
</div>
{% endblock %}
