<div id="thanks" style="display: none;">
        <h4>Thank you for submitting your review! Refresh the page to view it.</h4>
</div>
<form id="add_review" method="post">
    {% csrf_token %}
    {% for field in form %}
      {{ field.help_text }}
      {{ field }}
    {% endfor %}
    {% with rating_type='form_rating' rating_initial='3' %}
        {% include 'ginthusiasm/gin_rating_widget.html' %}
    {% endwith %}
    <a id='location-btn' class='ginthusiasm-button'><span>Tag review with current location</span></a>
    <a id='add-review-btn' class='ginthusiasm-button'><span>Save Review</span></a>
</form>
