{% extends 'ginthusiasm/header_small.html' %}
{% load staticfiles %}

{% block style_block %}
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/article_widget.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/article_listing.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/base_style.css' %}">
{% endblock %}

{% block title_block %}Article Archive{% endblock %}

{% block body_block %}
    <div>
        <h1>Article Archive</h1>
    </div>
    <div>
      {% include 'ginthusiasm/article_filter.html' %}
    </div>

  <div>
    {% if article %}
      <ul>
        {% for article in article %}
            <li>{% include 'ginthusiasm/article_widget.html' %}</li>
        {% endfor %}
      </ul>
    {% else %}
      No Search Results
      {% endif %}
  </div>
{% endblock %}
