{% extends 'ginthusiasm/header_small.html' %}
{% load staticfiles %}

{% block style_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/article.css' %}">
{% endblock %}


{% block title_block %} {{ article.title }} {% endblock %}

{% block body_block %}
  <div class = 'article_content'>
    <img class= 'image' src="{{ MEDIA_URL }}{{ article.image }}" alt='January gin of the month'/>
    <h1 class = 'title'> {{ article.title }} </h1>
  <div class = 'content'>
      {{ article.content }}
  </div>
</div>

{% endblock %}
