{% extends 'ginthusiasm/header_small.html' %}
{% load staticfiles %}

{% block style_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/article_widget.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/article_listing.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/base_style.css' %}">
{% endblock %}

{% block title_block %}Article Archive{% endblock %}

{% block body_block %}
    <h1 class="indent">Article Archive</h1>

    {% comment %}
        Show this message if the user tries to go to a page for basic users who
        dont have permission to write articles
    {% endcomment %}
    {% if invalid_user %}
        <p class="indent">Sorry, {{ invalid_user }} has not written any articles, so we redirected you to the article archive.</p>
    {% endif %}

    {% if not user.is_anonymous and user.userprofile.user_type != 'b' %}
        <a href='{% url "add_article" user.username %}' id='new-article' class="ginthusiasm-button indent"><span>Write a new article</span></a>
    {% endif %}

    <div class="articles">
        {% if article %}
            <ul>
                {% for article in article %}
                    {% with alt_class=forloop.counter|divisibleby:'2' %}
                        <li>{% include 'ginthusiasm/article_widget.html' %}</li>
                    {% endwith %}
                {% endfor %}
            </ul>
        {% else %}
            <strong class="indent">No Search Results</strong>
        {% endif %}
    </div>
{% endblock %}
