<!doctype html>
{% load staticfiles %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block style_block %}
        {% endblock%}
        <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/header.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/base_style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/footer.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:300" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <title>
            Ginthusiasm -
            {% block title_block %}
            {% endblock %}
        </title>
    </head>

    <body>
        {% block header_block %}
        {% endblock %}

        {% block body_block %}
        {% endblock %}

        {% block footer_block %}
        {% endblock %}

        {% block script_block %}
        {% endblock%}
    </body>
</html>
