{% extends 'ginthusiasm/header_small.html' %}
{% load staticfiles %}

{% block style_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/collections.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/base.css' %}">
{% endblock %}

{% block title_block %} Collections {% endblock %}

{% block body_block %}
    <div class="collections-container">
        {% for tag_name in taste_tag_names %}
            <div>
            <a href="{% url 'gin_search_results' %}?tags='{{ tag_name.tag_name }}'"><img src={{ tag_name.img }} class="collections-img"></a>
                <p class="collections-name">
                    <a class="ginthusiasm-link" href="{% url 'gin_search_results' %}?tags='{{ tag_name.tag_name }}'">
                        {{ tag_name.tag_name }} Collection
                    </a>
                </p>
            </div>
        {% endfor %}
        <div>
            <a href="{% url 'gin_search_results' %}"><img src="{% static 'images/all-gins.png' %}" class="collections-img"></a>
            <p class="collections-name">
                <a class="ginthusiasm-link" href="{% url 'gin_search_results' %}">
                    Browse all gins
                </a>
            </p>
        </div>
    </div>
{% endblock %}
