{% extends 'ginthusiasm/header_small.html' %}
{% load staticfiles %}

{% block style_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/base_style.css' %}">
{% endblock %}

{% block title_block %} Collections {% endblock %}

{% block body_block %}
    <div>
    <h1 class = 'title'> Collections </h1>

        <div>
            {% for tag_name in taste_tag_names %}
                <a href="#"><img></a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
