<div class="index-widget full collection_highlights_widget">
    <h1 class="collection-highlights-header">Collection highlights</h1>
    <div class="collection-highlights-gins">
    {% for highlight in collection_highlights %}
        <div class="collection-highlight">
            <span class="collection-highlight-description">
                <a href="{% url 'gin_search_results' %}?tags='{{ highlight.tag_name }}'"><img src={{ highlight.img }} class="collections-img"></a>
                <p class="collections-name"><a href="{% url 'gin_search_results' %}?tags='{{ highlight.tag_name }}'" class="ginthusiasm-link">{{ highlight.tag_name }} Collection</a></p>
            </span>
        </div>
    {% endfor %}
    </div>
</div>
