{% extends 'ginthusiasm/header_small.html' %}
{% load staticfiles %}

{% block style_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/contact.css' %}">
{% endblock %}

{% block title_block %} Contact {% endblock %}

{% block body_block %}

    <div>

    <h2 class = 'contact-form-title'> Contact us </h2>
        {% if success %}
            <p>{{ message }}</p>
        {% else %}
            <div class="contact-form-container">
                    <form id='contact-form' method='post' action="{% url 'contact' %}">
                        {% csrf_token %}
                        {{ contact_form }}
                        <input id='contact-btn' type='submit' name='submit' value='Send'/>
                    </form>
            </div>
        {% endif %}
    </div>

{% endblock %}



