<div class='distillery-widget'>
    <span class="distillery-widget-details">
        <a href="{% url 'show_distillery' distillery.slug %}">
            <h1 class="distillery-widget-name">{{ distillery.name }}</h1>
        </a>
        <p class="distillery-widget-description">{{ distillery.long_description }}</p>
        <p>
            <a href="mailto:{{ distillery.email }}">{{ distillery.email }}</a>
        </p>
    </span>

    <span class='distillery-widget-image'>
        <a href="{% url 'show_distillery' distillery.slug %}">
            <img src="{{ MEDIA_URL }}{{ distillery.image }}" alt='Image of {{ distillery.name }}'/>
        </a>
    </span>
</div>
