{% extends 'ginthusiasm/header_small.html' %}
{% load staticfiles %}

{% block style_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/distillery_search.css' %}">
{% endblock %}

{% block title_block %} Search for distilleries{% endblock %}

{% block body_block %}
    {% include 'ginthusiasm/distillery_search_widget.html' %}

    <div class='distillery-search-results'>
        {% for distillery in distilleries %}
            {% include 'ginthusiasm/distillery_widget.html' %}
        {% empty %}
            <div class='distillery-search-no-results'>
                No Search Results
            </div>
        {% endfor %}
    </div>
{% endblock %}
