{% extends 'ginthusiasm/header_small.html' %}
{% load staticfiles %}

{% block style_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/distillery.css' %}">
{% endblock %}

{% block title_block %} {{ distillery.name }}{% endblock %}

{% block body_block %}
    <div class="distillery-info">

        <div class='distillery-description'>

            <div class="distillery-image">
                <img class='image' src="{{ MEDIA_URL }}{{ distillery.image }}" alt='Image of {{ distillery.name }}'/>
            </div>

            <h1>{{ distillery.name }}</h1>
            <p>{{ distillery.long_description }}
            </p>
            <p>
                <a href="/gin/?distillery={{ distillery.name }}">Find gins by {{ distillery.name }}</a>
            </p>

            <div class="contact-details">
                <h2>Contact</h2>
                <p>
                    Email: {{ distillery.email }}
                </p>
                <p>
                    Phone: {{ distillery.phone }}
                </p>
                <p>
                    Address: {{ distillery.address }}
                </p>
            </div>

        </div>

        <div class='distillery-map'>
            {% include 'ginthusiasm/map_widget.html' %}
        </div>

    </div>

{% endblock %}

{% block script_block %}
    <script src="{% static 'scripts/map_styles.js' %}"></script>
    <script src="{% static 'scripts/google_map.js' %}"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key={{ js_api_key }}&callback=initMap">
    </script>
{% endblock %}
