<div class='feature_search_widget'>
    <div class='tab'>
        <a href="javascript:void(0)" id="Gin" class="tablinks" onclick="openTab(event, 'Gin')">Gin</a>
        <a href="javascript:void(0)" id="Distillery" class="tablinks" onclick="openTab(event, 'Distillery')">Distillery</a>
    </div>

    <div class="tabcontent">
        <div class="search-field">
            <input id='feature-search-field' type='text' placeholder="Search">
            <ul id='feature-search-results'>

            </ul>
        </div>
        <a id='feature-search-button' class='ginthusiasm-button' href='#' class='btn'><span>Search</span></a>
    </div>
</div>
