<footer>
    <nav>
        <a href="{% url 'index' %}"><span>Home</span></a>
        <a href="{% url 'gin_search_results' %}"><span>Gins</span></a>
        <a href="{% url 'distillery_search_results' %}"><span>Distilleries</span></a>
        <a href="{% url 'article_listing' %}"><span>Article Archive</span></a>
        <a href="{% url 'about' %}"><span>About Ginthusiasm</span></a>
        <a href="{% url 'contact' %}"><span>Contact Us</span></a>
        <a href="{% url 'article_month' %}"><span>Gin of the Month</span></a>
        <a href="{% url 'index' %}"><span>My Wishlist</span></a>
        <a href="{% url 'myaccount' %}"><span>My Account</span></a>
    </nav>
</footer>
