<div class='gin_widget {{ alt_class }}'>
    <div class=details>
        <a href="{% url 'show_gin' gin.slug %}">
            <h1>{{ gin.name }}</h1>
        </a>
        <p>{{ gin.short_description }}</p>

        <div class='rating'>
            Average Rating:
            {% with rating_type='average_rating' rating_initial=gin.average_rating %}
                {% include 'ginthusiasm/gin_rating_widget.html'%}
            {% endwith %}

            {% if user.is_authenticated %}
                Your Rating:
                {% with rating_type='user_rating' rating_initial=gin.user_rating %}
                    {% include 'ginthusiasm/gin_rating_widget.html'%}
                {% endwith %}
                <strong class="message" hidden></strong>
            {% else %}
                <a href='{% url 'login' %}'>Please login to rate!</a>
            {% endif %}
        </div>

        <span>
            {% include 'ginthusiasm/wishlist_button.html'%}

            <a class='ginthusiasm-button' href="{% url 'show_gin' gin.slug %}#review">
                <span>Write Review</span>
            </a>
        </span>
    </div>

    <a href="{% url 'show_gin' gin.slug %}">
        <img src="{{ MEDIA_URL }}{{ gin.image }}" alt='Image of {{ gin.name }}'/>
    </a>
</div>
