{% extends 'ginthusiasm/header_small.html' %}
{% load staticfiles %}

{% block style_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/gin.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/review_widget.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/add_review.css' %}">

    <!-- Style sheets for rating widget -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'stylesheets/fontawesome-stars-o.css' %}">
{% endblock %}

{% block title_block %} {{ gin.name }}{% endblock %}

{% block body_block %}

    <div class='gin_description'>
        <img class='image' src="{{ MEDIA_URL }}{{ gin.image }}" alt='Image of {{ gin.name }}'/>
        <h1>{{ gin.name }}</h1>
        <p>{{ gin.long_description }}
            {% comment %}
            {% lorem 10 p %}
            {% endcomment %}
        </p>

        {% if gin.distillery %}
            <a href="{% url 'show_distillery' gin.distillery.slug %}">See {{ gin.distillery.name }} Distillery</a>
        {% endif %}

        <div class='rating'>
            {% with rating_type='average_rating' rating_initial=gin.average_rating %}
                Average Rating
                {% include 'ginthusiasm/gin_rating_widget.html'%}
            {% endwith %}
        </div>

        <div class='taste_tags'>
            Tags:
            <ul>
                {% for tag in gin.taste_tags.all %}
                    {% url 'gin_search_results' as tag_search_url %}
                    <li><a class='ginthusiasm-tag' href='{{ tag_search_url }}?tags="{{ tag.name }}"'>
                        <span>
                            {{ tag.name }}
                        </span>
                    </a></li>
                {% endfor %}
            </ul>
        </div>

        {% include 'ginthusiasm/wishlist_button.html'%}
    </div>



    <div class='reviews' id='review'>
            <h2>Write a Review</h2>
            {% if user.is_authenticated %}
                <div class='add_review'>
                    {% include "ginthusiasm/add_review_widget.html" %}
                </div>
            {% else %}
              <a href="{% url 'login' %}">Log in to review and rate this gin! </a>
            {% endif %}

        <div class='expert_reviews'>
            {% if expert_reviews %}
            <h2>Expert Reviews</h2>
            <ul>
                {% for review in expert_reviews %}
                    {% include "ginthusiasm/review-widget.html" %}
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class='other_reviews'>
            {% if other_reviews %}
            <h2>User Reviews</h2>
            <ul>
                {% for review in other_reviews %}
                    {% include "ginthusiasm/review-widget.html" %}
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>



    <div class='map'>
        <div class="map-description">
            <h3>See where in the world people are reviewing {{ gin.name }}</h3>
        </div>
        {% include 'ginthusiasm/map_widget.html' %}
    </div>

{% endblock %}

{% block script_block %}
    <!-- wishlist button -->
    <script src='{% static "scripts/wishlist_button.js" %}'></script>
    <script src='{% static "scripts/ajax_setup.js" %}'></script>
    <script src='{% static "scripts/js.cookie.js" %}'></script>

    <!-- map -->
    <script src="{% static 'scripts/map_styles.js' %}"></script>
    <script src="{% static 'scripts/google_map.js' %}"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key={{ js_api_key }}&callback=initMap">
    </script>


    <script src="{% static 'scripts/jquery.barrating.js' %}"></script>
    <script src="{% static 'scripts/rating.js' %}"></script>
    <script src="{% static 'scripts/add_review.js' %}"></script>


{% endblock %}
