{% extends 'ginthusiasm/header_small.html' %}
{% load staticfiles %}

{% block style_block %}
{% endblock %}

{% block title_block %} Search for Gin{% endblock %}

{% block body_block %}
    {% include 'ginthusiasm/gin_search_widget.html' %}

    <div class='search_results'>
        {% if gins %}
        <ul>
            {% for gin in gins %}
                <li>{% include 'ginthusiasm/gin_widget.html' %}</li>
            {% endfor %}
        </ul>
        {% else %}
            No Search Results
        {% endif %}
    </div>

<style>
    .search_results ul {
        list-style: none;
        padding-left: 0;
    }
</style>

{% endblock %}
