<div class=gin_search_widget>
    <h1>Advanced Search</h1>
    <form id='gin_search_form' method='get' action={% url "gin_search_results" %}>
        <div class='keywords'>Keywords: {{ advanced_search_form.keywords }}</div>
        <div class='price'>Price: £ {{ advanced_search_form.min_price }} to {{ advanced_search_form.max_price }}</div>
        <div class='rating'>Rating: {{ advanced_search_form.min_rating }} to {{ advanced_search_form.max_rating }} Stars</div>
        <div class='ordering'>Order by: {{ advanced_search_form.order_by }}{{ advanced_search_form.order }}</div>
        <input id='search-btn' type='submit' name='submit' value='Search'/>
    </form>
</div>

<style>
    #gin_search_form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .gin_search_widget input {
        width: 60px;
    }

    .gin_search_widget select {
        width: 120px;
    }

    .gin_search_widget .keywords input {
        width: 300px;
    }
</style>
