<div class='gin_widget' >
    <div class=details>
        <a href="{% url 'show_gin' gin.slug %}">
            <h1>{{ gin.name }}</h1>
        </a>
        <p>{{ gin.short_description }}<p>

        <div class='rating'>
            Average Rating:
            {% with rating_type='average_rating' rating_initial=gin.average_rating %}
                {% include 'ginthusiasm/gin_rating_widget.html'%}
            {% endwith %}
            Your Rating:
            {% with rating_type='user_rating' rating_initial='3' %}
                {% include 'ginthusiasm/gin_rating_widget.html'%}
            {% endwith %}
        </div>

        {% include 'ginthusiasm/wishlist_button.html'%}

        <a class='ginthusiasm-button' href="{% url 'show_gin' gin.slug %}#review_form">
            <span>
                Write Review
            </span>
        </a>
    </div>

    <div class='image'>
        <a href="{% url 'show_gin' gin.slug %}">
            <img src="{{ MEDIA_URL }}{{ gin.image }}" alt='Image of {{ gin.name }}'/>
        </a>
    </div>
</div>
