{% extends 'ginthusiasm/base.html' %}
{% load staticfiles %}

{% block header_block %}
<header class='header-large'>
    <a href='/'><img class='logo-large' src="{% static 'images/ginthusiasm-logo.png' %}" alt='site logo'/></a>
    <nav class='nav'>
        <a href="{% url 'index' %}"><span>Home</span></a>
        <a href='#'><span>About</span></a>
        <a href="{% url 'gin_search_results' %}"><span>Gin</span></a>
        <a href='#'><span>Rate</span></a>
    </nav>
    <div class='login-small'>
    {% if user.is_authenticated %}
        <a href='{% url "myaccount" %}'>My Account</a>
        <a href='{% url "logout" %}'>Log Out</a>
    {% else %}
        <a href='{% url "login" %}'>Log In | Sign Up</a>
    {% endif %}
    </div>
    <div class='header-search'>
        <input id='header-search' type='text' placeholder="&#x1f50d;">
        <a href='#' class='btn'><span>Search</span></a>
    </div>
</header>
{% endblock %}
