{% extends 'ginthusiasm/base.html' %}
{% load staticfiles %}

{% block header_block %}
    <header class='header-small'>
        <a href='/'><img src="{% static 'images/ginthusiasm-logo.png' %}" alt='site logo'/></a>
        {% include 'ginthusiasm/header_nav.html' %}
        {% include 'ginthusiasm/header_login.html' %}
        {% include 'ginthusiasm/header-search.html' %}
    </header>
{% endblock %}

{% block content_block %}
    <div class="main_container_small_header">
        <div class="content">
            {% block body_block %}
            {% endblock %}
        </div>
        {% include 'ginthusiasm/footer.html' %}
    </div>
{% endblock %}

