{% extends 'ginthusiasm/header_large.html' %}
{% load staticfiles %}

{% block style_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/overlay.css' %}">
{% endblock %}

{% block title_block %} Home{% endblock %}

{% block body_block %}
    <div>
        <h1>Ginthusiasm is go!</h1> {% lorem 3 p%}
    </div>

    <div>
        {% if not verified_age %}
            <div id="age-overlay" class="overlay">
                <div class="overlay-content">
                    <p id="prompt">Welcome to Ginthusiasm. Please enter your date of birth:</p>
                    <form name="ageform" onsubmit="return verify_age()">
                        <input id="dob" type="date" name="dob">
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block script_block %}
    <script src='{% static "scripts/age_verifier.js" %}'></script>
    <script src='{% static "scripts/ajax_setup.js" %}'></script>
    <script src='{% static "scripts/js.cookie.js" %}'></script>
{% endblock %}
