{% load staticfiles %}

<div class="formwrapper">
    <h2>Log in</h2>
    {% if error %}
        <div>
            <p>Sorry, we couldn't log you in because: </p>
            {{ error }}
        </div>
    {% endif %}
    {% if message %}
        <div>
            <p>{{ message }}</p>
        </div>
    {% endif %}

    <form id='login_form' method='post' action='{% url "login" %}'>
        {% csrf_token %}

        {{ login_form }}

        <input id='login-btn' type='submit' name='submit' value='Log In'/>
    </form>

    <div id='password_reset_wrapper'>
        <a id='password_reset_link' class="ginthusiasm-link" href="{% url 'password_reset' %}">Forgotten your password?</a>
    </div>

    <div id="twitter-login">
        <a href="{% url 'social:begin' 'twitter' %}"><img src="{% static "images/Twitter_Logo_White_On_Blue.png" %}" alt="Twitter logo" id="Twitter-logo"/></a>
    </div>
</div>
