{% extends 'ginthusiasm/header_large.html' %}
{% load staticfiles %}

{% block title_block %} MapTest{% endblock %}

{% block body_block %}
<img style="display:inline-block;" src = "{{ single_marker_map_url }}" />
<img style="display:inline-block;" src = "{{ multi_marker_map_url }}" />

{% include 'ginthusiasm/map_widget.html' %}

{% endblock %}

{% block script_block %}
    <script src="{% static 'scripts/map_styles.js' %}"></script>
    <script src="{% static 'scripts/google_map.js' %}"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key={{ js_api_key }}&callback=initMap">
    </script>
{% endblock%}
