<div class='review_widget'>
    <span class='review_imagerating'>
      <img src="{{ MEDIA_URL }}{{ review.user.profile_image }}" alt='Image of'/>
      {% with rating_type='average_rating' rating_initial=review.rating %}
          {% include 'ginthusiasm/gin_rating_widget.html'%}
      {% endwith %}
    </span>
    <span class='review_details'>
        <h3>
            {{ review.user }}
            {% comment %}
                Can't access UserProfile.choices here so hard code letters :(
            {% endcomment %}
            {% if review.user.user_type == 'a' %}
                (Admin)
            {% elif review.user.user_type == 'e' %}
                (Gin Expert)
            {% elif review.user.user_type == 'o' %}
                (Owner of {{ review.user.distilleries.first }} Distillery)
            {% endif %}
            {{ review.date }}</h3>
        {{ review.content }}
    </span>
</div>
