{% extends 'ginthusiasm/header_small.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ user.userprofile.wishlist }}
{% endblock %}

{% block body_block %}
    {% if gins %}
        {% for gin in gins %}
            {% include 'ginthusiasm/gin_widget.html' %}
        {% endfor %}
    {% else %}
        <p>This user hasn't added any gins to their wishlist yet!</p>
    {% endif %}
{% endblock %}

{% block script_block %}
    <script src='{% static "scripts/add_to_wishlist.js" %}'></script>
    <script src='{% static "scripts/ajax_setup.js" %}'></script>
    <script src='{% static "scripts/js.cookie.js" %}'></script>
{% endblock %}
